C 0 0 "TXCAN" 0 0 0 0 60 0 L
X "PIN_TEXT" "TXCAN" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "RXCAN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "RXCAN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CLKO/SOF" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CLKO/SOF" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "INT*" 0 -300 0 0 60 0 L
X "PIN_TEXT" "INT*" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "OSC2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "OSC2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "OSC1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "OSC1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "VSS" 0 -600 0 0 60 0 L
X "PIN_TEXT" "VSS" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 2000 0 "VDD" 2000 0 0 0 60 0 R
X "PIN_TEXT" "VDD" 1770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 0 2000 0 -1 0
C 2000 -100 "NCS" 2000 -100 0 0 60 0 R
X "PIN_TEXT" "NCS" 1770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -100 2000 -100 -1 0
C 2000 -200 "SDO" 2000 -200 0 0 60 0 R
X "PIN_TEXT" "SDO" 1770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -200 2000 -200 -1 0
C 2000 -300 "SDI" 2000 -300 0 0 60 0 R
X "PIN_TEXT" "SDI" 1770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -300 2000 -300 -1 0
C 2000 -400 "SCK" 2000 -400 0 0 60 0 R
X "PIN_TEXT" "SCK" 1770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -400 2000 -400 -1 0
C 2000 -500 "INT0*/GPIO0/XSTBY" 2000 -500 0 0 60 0 R
X "PIN_TEXT" "INT0*/GPIO0/XSTBY" 1770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -500 2000 -500 -1 0
C 2000 -600 "INT1*/GPIO1" 2000 -600 0 0 60 0 R
X "PIN_TEXT" "INT1*/GPIO1" 1770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -600 2000 -600 -1 0
L 200 100 1800 100 -1 0
L 1800 -700 1800 100 -1 0
L 1800 -700 200 -700 -1 0
L 200 100 200 -700 -1 0
P "$LOCATION" "?" 1850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

