C 0 0 "PA26_/_A1" 0 0 0 0 60 0 L
X "PIN_TEXT" "PA26_/_A1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PA27_/_A0" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PA27_/_A0" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "PA28_/_A5" 0 -200 0 0 60 0 L
X "PIN_TEXT" "PA28_/_A5" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "PA0" 0 -300 0 0 60 0 L
X "PIN_TEXT" "PA0" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "PA1_/_NRST" 0 -400 0 0 60 0 L
X "PIN_TEXT" "PA1_/_NRST" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "VDD" 0 -500 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "VSS" 0 -600 0 0 60 0 L
X "PIN_TEXT" "VSS" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "PA2" 0 -700 0 0 60 0 L
X "PIN_TEXT" "PA2" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "PA4" 0 -800 0 0 60 0 L
X "PIN_TEXT" "PA4" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "PA6" 0 -900 0 0 60 0 L
X "PIN_TEXT" "PA6" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 2100 0 "PA25_/_A2" 2100 0 0 0 60 0 R
X "PIN_TEXT" "PA25_/_A2" 1870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 0 2100 0 -1 0
C 2100 -100 "PA24_/_A3" 2100 -100 0 0 60 0 R
X "PIN_TEXT" "PA24_/_A3" 1870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -100 2100 -100 -1 0
C 2100 -200 "PA23" 2100 -200 0 0 60 0 R
X "PIN_TEXT" "PA23" 1870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -200 2100 -200 -1 0
C 2100 -300 "PA22_/_A4" 2100 -300 0 0 60 0 R
X "PIN_TEXT" "PA22_/_A4" 1870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -300 2100 -300 -1 0
C 2100 -400 "PA20_/_A6_/_SWCLK" 2100 -400 0 0 60 0 R
X "PIN_TEXT" "PA20_/_A6_/_SWCLK" 1870 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -400 2100 -400 -1 0
C 2100 -500 "PA19_/_SWDIO" 2100 -500 0 0 60 0 R
X "PIN_TEXT" "PA19_/_SWDIO" 1870 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -500 2100 -500 -1 0
C 2100 -600 "PA18_/_A7" 2100 -600 0 0 60 0 R
X "PIN_TEXT" "PA18_/_A7" 1870 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -600 2100 -600 -1 0
C 2100 -700 "PA17" 2100 -700 0 0 60 0 R
X "PIN_TEXT" "PA17" 1870 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -700 2100 -700 -1 0
C 2100 -800 "PA16_/_A8" 2100 -800 0 0 60 0 R
X "PIN_TEXT" "PA16_/_A8" 1870 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -800 2100 -800 -1 0
C 2100 -900 "PA11" 2100 -900 0 0 60 0 R
X "PIN_TEXT" "PA11" 1870 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -900 2100 -900 -1 0
L 200 100 1900 100 -1 0
L 1900 -1000 1900 100 -1 0
L 1900 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

