C 0 0 "PA26_/_A1" 0 0 0 0 60 0 L
X "PIN_TEXT" "PA26_/_A1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PA27_/_A0" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PA27_/_A0" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "PA28_/_A5" 0 -200 0 0 60 0 L
X "PIN_TEXT" "PA28_/_A5" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NRST" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NRST" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "PA4" 0 -400 0 0 60 0 L
X "PIN_TEXT" "PA4" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "PA11" 0 -500 0 0 60 0 L
X "PIN_TEXT" "PA11" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "VSS" 0 -600 0 0 60 0 L
X "PIN_TEXT" "VSS" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "PA2" 0 -700 0 0 60 0 L
X "PIN_TEXT" "PA2" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "VDD" 0 -800 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "PA6" 0 -900 0 0 60 0 L
X "PIN_TEXT" "PA6" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 2000 0 "PA25_/_A2" 2000 0 0 0 60 0 R
X "PIN_TEXT" "PA25_/_A2" 1770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 0 2000 0 -1 0
C 2000 -100 "PA24_/_A3" 2000 -100 0 0 60 0 R
X "PIN_TEXT" "PA24_/_A3" 1770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -100 2000 -100 -1 0
C 2000 -200 "PA23" 2000 -200 0 0 60 0 R
X "PIN_TEXT" "PA23" 1770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -200 2000 -200 -1 0
C 2000 -300 "PA22_/_A4" 2000 -300 0 0 60 0 R
X "PIN_TEXT" "PA22_/_A4" 1770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -300 2000 -300 -1 0
C 2000 -400 "PA20_/_A6_/_SWCLK" 2000 -400 0 0 60 0 R
X "PIN_TEXT" "PA20_/_A6_/_SWCLK" 1770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -400 2000 -400 -1 0
C 2000 -500 "PA19_/_SWDIO" 2000 -500 0 0 60 0 R
X "PIN_TEXT" "PA19_/_SWDIO" 1770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -500 2000 -500 -1 0
C 2000 -600 "PA18/A7" 2000 -600 0 0 60 0 R
X "PIN_TEXT" "PA18/A7" 1770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -600 2000 -600 -1 0
C 2000 -700 "PA17/A9" 2000 -700 0 0 60 0 R
X "PIN_TEXT" "PA17/A9" 1770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -700 2000 -700 -1 0
C 2000 -800 "PA1" 2000 -800 0 0 60 0 R
X "PIN_TEXT" "PA1" 1770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -800 2000 -800 -1 0
C 2000 -900 "PA0" 2000 -900 0 0 60 0 R
X "PIN_TEXT" "PA0" 1770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -900 2000 -900 -1 0
L 200 100 1800 100 -1 0
L 1800 -1000 1800 100 -1 0
L 1800 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

